button {
    margin-bottom: 10px;
    width: 200px;
}

#hashInicial, #hashFinal  {
    display: none;
}

table {
    border: 1px solid #000;
    width: 300px;
    text-align: center;
}
thead{
    background-color: #858484;
}
